/* PasswordGenerator.css */

.password-generator {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.password-generator h1 {
  color: #333;
  text-align: center;
}

.password-generator__control {
  margin-bottom: 15px;
}

.password-generator__checkbox {
  margin-left: 10px;
}

.password-generator__input,
.password-generator__checkbox {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.password-generator__button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  transition: background-color 0.3s ease;

}

.password-generator__button:hover {
  background-color: #45a049;
}

.password-generator__password {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

}
@media screen and (max-width: 600px) {
  .password-generator {
    width: 90%;
    max-width: none;
  }
}